SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
SEPOLIA_PRIVATE_KEY=0xYOUR_PRIVATE_KEY

# Constructor args for ComputeOutsourcePlatform.
RESULT_ORACLE_ADDRESS=0xYOUR_RESULT_ORACLE_WALLET
MIN_WORKER_STAKE_WEI=1000000000000000
MIN_VALIDATOR_STAKE_WEI=5000000000000000
